textarea {
    width: 50%;
    height: 6.25em;
    resize: none;
}
div {
    height: 500px;
    width: 50%;
    border-style: solid;
    border-color: black;
    position: static;
}
button {
    position: relative;
    left: 45%;
}
