<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css"/>
    <br><h1>A1PerformanceFactory 게시판</h1>
</head>
<body>
<form action="/CreateBoard" method="post">
<div class="container">
    <table>
        <thead>
            <span></span>
        </thead>
        <tbody>
            <textarea></textarea>
            <input type="text" th:value="${nickName}" />
            <input type="text" th:value="${userIdx}" />
        </tbody>
    </table>
</div>
</form>
<button type="submit">글쓰기</button>
<button onclick="location.href='/'">목록</button>
</body>
</html>